<h1 class="text_in_one_row">
	<!-- New Location -->
	<%= t('location.new_location') %>
</h1>

<%= render 'form', location: @location %>

<%= link_to t('common.back'), locations_path, class: 'btn btn-secondary' %>
<!-- 'Back' -->
