<div class="container">
		<!-- <h1>New Genre</h1> -->
		<h1><%= I18n.t('admin.genres.new.title_page') %></h1>
	<div id="genre_input_error"></div>	
	<%= render 'form', genre: @genre %>	
	<%= link_to t('common.back'), genres_path, class: 'btn btn-secondary' %>
</div>



