
<div class="short-text container">
	<h1>
		<%= t('pages.about_project_booksget') %>
		<!-- О проекте Booksget -->
	</h1>	
	<p>
	Данный проект разрабатывается как некомерческий сервис по обмену литературой. 
</p>
<p>Основная идея - предоставить возможность свободно передавать свои книги и получать, при желании, другую взамен. Так как после прочтении книга обычно пылится на полке до лучших времен и со времнем книги заполняют всё свободное пространство. При таком обмене у Вас очень мало будет залеживаться книг, лежать будут только те которые вы ещё не дочитали или регулярно пользуетесь.</p>




</div>
