<h1>По интересующим вопросам обращайтесь:</h1>
<p>Вопросы сотрудичества: Олег Билык +38(093)-992-2025  </p>
<p> Предложения и пожелания: Виктория </p>
<p>Нашли ошибку в работе сайта: Павел Братанов +38(063)-329-5634 zihzag@gmail.com </p>
<%= link_to 'Leave feedback', new_feedback_path, class: "btn btn-primary" %>