<h1>Наша команда</h1>
<div class="container">
	<img src="https://img.maximummedia.ie/joe_co_uk/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvbWVkaWEtam9lY291ay5tYXhpbXVtbWVkaWEuaWUuczMuYW1hem9uYXdzLmNvbVxcXC93cC1jb250ZW50XFxcL3VwbG9hZHNcXFwvMjAxNVxcXC8xMVxcXC8yNTA3NTY0NVxcXC9SeWFuLUdpZ2dzLURyZWFtLVRlYW0uanBnXCIsXCJ3aWR0aFwiOjM0MCxcImhlaWdodFwiOjE4MCxcImRlZmF1bHRcIjpcImh0dHBzOlxcXC9cXFwvd3d3LmpvZS5jby51a1xcXC9hc3NldHNcXFwvaW1hZ2VzXFxcL2pvZWNvdWtcXFwvbm8taW1hZ2UucG5nP3Y9NFwifSIsImhhc2giOiIzYmQ1YTE4NmFjOWEzZjIxZjNmMDM4OGE0Y2UyMTAwOTNiNWVlODMwIn0=/ryan-giggs-dream-team.jpg" style="width:50%;height:auto;">
</div>
<p>project-manager: Олег Билык</p>
<p>ruby-developer: Братанов Павел</p>
<p>QA-specialist: Владимир Тесленко</p>
<p>front-end developer: Денис Онуфриев</p>
