<h1>
	 <!-- class="text_in_one_row" -->
	<!-- Наша команда -->
	<%= t('pages.our_ruby_team') %>
</h1>
<div class="container">
	<!-- place for our picture -->
</div>
<p>Олег Билык</p>
<p>Братанов Павел</p>
<p>Владимир Тесленко</p>
<p>Денис Онуфриев</p>
