

<div class="container">
	
		<h1>
		<%= t('pages.our_ruby_team') %>
		</h1>	
	
	<!-- place for our picture -->
	<p>Олег Билык</p>
	<p>Братанов Павел</p>
	<p>Владимир Тесленко</p>
	<p>Денис Онуфриев</p>
</div>

