<h1 class="text_in_one_row">
		<!-- New Feedback -->
		<%= t('feedback.your_feedback') %>
</h1>

<%= render 'form', feedback: @feedback %>

<%= link_to t('common.back'), admin_feedbacks_path, class: 'btn btn-secondary' %>
<!-- 'Back' -->
