// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.parrent_bottom{
  display: flex;
  flex-direction: column;
  background: grey;
}
.align_bottom{
	 margin-top: auto;
  //background: green;	
}
